@if (board(); as board) {
  <section>
    <div class="flex flex-col md:flex-row md:items-center justify-between gap-6 md:gap-8 mb-8 md:mb-10 px-2 md:px-0">
      <div>
        <h1 class="font-medium text-xl">{{ board.title }}</h1>
      </div>
      <div class="flex gap-6">
        <a class="text-primary hover:underline cursor-pointer" (click)="openAddTask()">Add task</a>
        <a class="text-primary hover:underline cursor-pointer" (click)="openUpdateBoard()">Update</a>
        <a class="text-red-500 hover:underline cursor-pointer" (click)="openDeleteBoard()">Delete</a>
      </div>
    </div>

    @if (!board.planned.length && !board.ongoing.length && !board.completed.length) {
      <p class="text-center my-16 px-2">Start by adding a new task...</p>
    }

    <div class="grid md:grid-cols-3 gap-6 md:gap-12">
      <div class="border-[1px] border-slate-300 rounded p-4 md:p-6">
        <h1 class="mb-4 md:mb-6">Planned</h1>
        <div class="grid gap-3 min-h-20" 
          id="planned"
          cdkDropList 
          #planned="cdkDropList" 
          [cdkDropListConnectedTo]="[ongoing, completed]"
          [cdkDropListData]="board.planned"
          (cdkDropListDropped)="drop($event)"
        >
          @for (task of board.planned; track $index) {
            <app-task cdkDrag 
              [task]="task" 
              (onUpdate)="openUpdateTask($event)" 
              (onDelete)="openDeleteTask($event)"
            />
          }
        </div>
      </div>
      
      <div class="border-[1px] border-slate-300 rounded p-4 md:p-6">
        <h1 class="mb-4 md:mb-6">Ongoing</h1>
        <div class="grid gap-3 min-h-20" 
          id="ongoing"
          cdkDropList 
          #ongoing="cdkDropList"
          [cdkDropListConnectedTo]="[completed, planned]"
          [cdkDropListData]="board.ongoing"
          (cdkDropListDropped)="drop($event)"
        >
          @for (task of board.ongoing; track $index) {
            <app-task cdkDrag 
              [task]="task" 
              (onUpdate)="openUpdateTask($event)" 
              (onDelete)="openDeleteTask($event)"
            />
          }
        </div>
      </div>
      
      <div class="border-[1px] border-slate-300 rounded p-4 md:p-6">
        <h1 class="mb-4 md:mb-6">Completed</h1>
        <div class="grid gap-3 min-h-20" 
          id="completed"
          cdkDropList 
          #completed="cdkDropList"
          [cdkDropListConnectedTo]="[planned, ongoing]"
          [cdkDropListData]="board.completed"
          (cdkDropListDropped)="drop($event)"
        >
          @for (task of board.completed; track $index) {
            <app-task cdkDrag 
              [task]="task" 
              (onUpdate)="openUpdateTask($event)" 
              (onDelete)="openDeleteTask($event)"
            />
          }
        </div>
      </div>
    </div>
  </section>
}
