<section>
  @if (board()) {
    <div class="flex flex-col md:flex-row md:items-center justify-between gap-4 md:gap-8 mb:6 md:mb-10">
      <div>
        <h1 class="font-bold text-xl text-primary">{{ board().title }}</h1>
      </div>
      <div class="flex gap-6">
        <a class="text-primary hover:underline cursor-pointer" (click)="openAddTask()">Add task</a>
        <a class="text-primary hover:underline cursor-pointer" (click)="openUpdateBoard()">Update</a>
        <a class="text-red-500 hover:underline cursor-pointer" (click)="openDeleteBoard()">Delete</a>
      </div>
    </div>

    <div class="grid md:grid-cols-3 gap-4 md:gap-12">
      <div class="bg-neutral custom-shadow rounded p-4 md:p-6">
        <h1 class="text-primary mb-4">Planned</h1>
        <div class="grid gap-3">
          @for (task of board().planned; track $index) {
            <app-task [task]="task" (onUpdate)="openUpdateTask($event)"/>
          }
        </div>
      </div>
      
      <div class="bg-neutral custom-shadow rounded p-4 md:p-6">
        <h1 class="text-primary mb-4">Ongoing</h1>
        <div>
          @for (task of board().ongoing; track $index) {
            <app-task [task]="task" (onUpdate)="openUpdateTask($event)"/>
          }
        </div>
      </div>
      
      <div class="bg-neutral custom-shadow rounded p-4 md:p-6">
        <h1 class="text-primary mb-4">Completed</h1>
        <div>
          @for (task of board().completed; track $index) {
            <app-task [task]="task" (onUpdate)="openUpdateTask($event)"/>
          }
        </div>
      </div>
    </div>
  }
</section>
