<section class="px-2">
  <div class="my-16">
    <p class="text-lg text-center max-w-[45ch] mx-auto">🔥 Advanced Drag & Drop Kanban board to boost your workflow & productivity 🚀</p>
  </div>

  <div class="flex justify-center items-center mb-28">
    @if (user$ | async; as user) {
      <button class="btn primary px-8" routerLink="/dashboard">Continue to Dashboard</button>
    }
    @else {
      <button class="btn border-2 border-slate-200 px-8" (click)="login()">
        <img src="/assets/svg/google.svg" alt="google">
        <span>Sign in to continue</span>  
      </button>
    }
  </div>
  
  <div>
    <p class="text-center">Developed using Angular, Firebase and Tailwind by <a class="text-primary underline" href="https://panesar.dev" target="_blank">Sukhpreet Singh</a></p>
  </div>

</section>