@tailwind base;
@tailwind components;
@tailwind utilities;

@import './components.scss';
@import './animations.scss';

body {
  background-color: theme('colors.base');
  color: theme('colors.slate.700');
  font-family: 'Inter', sans-serif;
}

button, input {
  outline: none;
}

.cdk-drop-list-dragging :not(.cdk-drag-placeholder) {
  transition: transform 200ms cubic-bezier(.21,.64,.45,1.02);
}

.cdk-drag-animating {
  transition: transform 200ms cubic-bezier(.21,.64,.45,1.02);
}

.cdk-drag-placeholder {
  opacity: .5;
}


.close-icon {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 40px
}
.close-icon::after,
.close-icon::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 16px;
  height: 2px;
  background: currentColor;
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 1px
}
.close-icon::after {
  transform: rotate(-45deg)
}