@tailwind base;
@tailwind components;
@tailwind utilities;

@import './components.scss';
@import './utilities.scss';
@import './animations.scss';

body {
  background-color: theme('colors.base');
  color: theme('colors.slate.700');
  font-family: 'Inter', sans-serif;
}

button, input {
  outline: none;
}

.cdk-drop-list-dragging :not(.cdk-drag-placeholder) {
  transition: transform 200ms cubic-bezier(.21,.64,.45,1.02);
}

.cdk-drag-animating {
  transition: transform 200ms cubic-bezier(.21,.64,.45,1.02);
}

.cdk-drag-placeholder {
  opacity: .5;
}
